.test-eq5d3l {
    margin-bottom: 60px;
}

.test-eq5d3l-tip {
    font-weight: bold;
    margin-bottom: 20px;
}

.test-eq5d3l-list {
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid rgba(44, 49, 87, 0.3);
    border-bottom: 1px solid rgba(44, 49, 87, 0.3);
    list-style: none;
}

.test-eq5d3l-list-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.test-eq5d3l-list-item:last-child {
    margin-bottom: 0;
}

.test-eq5d3l-question {
    margin-bottom: 10px;
}

.health-level {
    margin: 0;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.health-level input[type=range] {
    width: 500px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 10px;
}

.health-level input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #2C3157;
    background-color: #fff;
}

.health-level input[type=range]::-webkit-slider-thumb {
    background: #2C3157;
    cursor: pointer;
    width:15px;
    height: 15px;
    -webkit-appearance: none;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: -500px  0 0 500px  rgba(44, 49, 87, 0.3);
}

.health-level input[type=range]::-moz-range-track {
    height: 10px;
    background-color: #2C3157;
}
  
.health-levelinput[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    cursor: pointer;
    height: 10px;
    border-radius:0px;
    box-shadow: -500px  0 0 500px  rgba(44, 49, 87, 0.3);
    padding: 0px;
    margin: 0px;
}

output[name="healthoutput"] {
    font-weight: bold;
}
